<div class="container">
  <div class="card-container">
    <div class="poster">
      <img
        class="poster-img"
        src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{
          detail.detailPosterPath
        }}"
        alt=""
      />
    </div>
    <div class="info">
      <h1>
        {{ detail.detailTitle }}
        <span class="date">({{ detail.detailYear }})</span>
      </h1>
      <p class="rate">{{ detail.detailRating }}</p>
      <p class="tagline">
        <i>{{ detail.detailTagLine }}</i>
      </p>
      <h3>Overview</h3>
      <p class="overview">{{ detail.detailOverview }}</p>
      <button class="trailer-btn" mat-button (click)="openDialog()">
        ▶ Play Trailer
      </button>
    </div>
  </div>
  <div class="background-img">
    <img
      src="https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces{{
        detail.detailPosterPath
      }}"
      alt=""
    />
  </div>
</div>
<!-- <app-youtube-player videoId="{{ videosKey }}"></app-youtube-player> -->
