<div class="signin-page-container">
  <div class="header-wraper">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <img [src]="logoPath" alt="NETFLIXXXX" />
    </a>
  </div>
  <form #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)">
    <div class="row">
      <div class="col">
        <div class="input-container">
          <h1>Sign In</h1>
          <div
            class="notmatch-error"
            [ngStyle]="{ display: notmatchErrorStyle }"
          >
            Sorry, we can't find an account with this email address or the
            password doesn't match with the account. Try again or
            <a
              routerLink="/register"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >create a new account</a
            >
          </div>
          <div class="email-input">
            <label for="email">Email</label>
            <input name="email" [(ngModel)]="inputemail" required email />
          </div>
          <div
            class="email-inputError"
            [ngStyle]="{ display: emailInputErrorStyle }"
          >
            Please enter a valid email.
          </div>
          <div class="pw-input">
            <label for="password">Password</label>
            <input name="password" [(ngModel)]="inputpw" required />
          </div>
          <div class="pw-inputError" [ngStyle]="{ display: psInputErrorStyle }">
            Your password must contain between 4 and 60 characters.
          </div>
          <div class="btn-submit">
            <button>Sign In</button>
          </div>
          <div class="remember-checkbox">
            <a>Need help?</a>
          </div>
        </div>
        <div class="signup-conatiner">
          <div>
            New to Netflixxxx?
            <a
              routerLink="/register"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Sign up now</a
            >.
          </div>
          <div>
            <p>
              <span
                >This page is protected by Google reCAPTCHA to ensure you're not
                a bot.</span
              >&nbsp;<button>Learn more.</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
  <app-footer></app-footer>
</div>
