<div class="site-footer">
  <p class="footer-top">
    Questions? Call
    <a class="footer-top-a" href="tel:1-844-505-2993">1-844-505-2993</a>
  </p>
  <ul class="footer-links">
    <li class="footer-link">
      <a href="">FAQ</a>
    </li>
    <li class="footer-link">
      <a href="">Help Center</a>
    </li>
    <li class="footer-link">
      <a href="">Account</a>
    </li>
    <li class="footer-link">
      <a href="">Media Center</a>
    </li>
    <li class="footer-link">
      <a href="">Privacy</a>
    </li>
    <li class="footer-link"><a href="">Terms of Use</a></li>
    <li class="footer-link"><a href="">Contact Us</a></li>
    <li class="footer-link"><a href="">Legal Notices</a></li>
  </ul>
  <div class="lang-selection-container">
    <select id="language">
      <option value="English">English</option>
      <option value="Español">Español</option>
    </select>
  </div>
</div>
