<body>
  <div class="main-container">
    <div class="card hero">
      <div class="hero-background">
        <img class="hero-background-img" [src]="backgroundPath" />
        <div class="hero-img-gradients"></div>
      </div>
      <app-header></app-header>
      <div class="hero-info">
        <h1 class="hero-title">Unlimited movies, TV shows, and more.</h1>
        <h2 class="hero-subtitle">Watch anywhere. Cancel anytime.</h2>
        <p>
          Ready to watch? Enter your email to create or restart your membership.
        </p>
        <form
          #heroEmailForm="ngForm"
          (ngSubmit)="onSubmit(heroEmailForm)"
          class="hero-submite-container"
        >
          <input
            type="text"
            placeholder="Email address"
            id="email"
            name="email"
            [(ngModel)]="inputEmail"
            required
            email
          />
          <button>Get Started ></button>
          <br />
          <label class="email-required" [ngStyle]="{ display: labelStyle }"
            >Email is required!
          </label>
        </form>
      </div>
    </div>
    <div class="card watchOnTv">
      <div class="card-container">
        <div class="card-text-container">
          <h1 class="card-text-title">Enjoy on your TV.</h1>
          <p class="card-text-subtitle">
            Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray
            players, and more.
          </p>
        </div>
        <div class="card-animation-container">
          <img
            alt=""
            class="card-animation-img"
            src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png"
          />
          <div class="card-animation-video-container">
            <video
              class="card-animation-video"
              autoplay=""
              playsinline=""
              muted=""
              loop=""
            >
              <source
                src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-0819.m4v"
                type="video/mp4"
              />
            </video>
          </div>
        </div>
      </div>
    </div>
    <div class="card downloadAndWatch">
      <div class="card-container">
        <div class="card-text-container">
          <h1 class="card-text-title">Download your shows to watch offline.</h1>
          <p class="card-text-subtitle">
            Save your favorites easily and always have something to watch.
          </p>
        </div>
        <div class="card-animation-container">
          <img
            alt=""
            class="card-animation-img"
            src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg"
          />
          <div class="card-animation-download-container">
            <div class="card-animation-download-image-container">
              <img
                alt=""
                class="card-animation-download-image"
                src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/boxshot.png"
              />
            </div>
            <div class="card-animation-download-text">
              <div class="download-text0">Stranger Things</div>
              <div class="download-text1">Downloading...</div>
            </div>
            <div class="card-animation-download-gif"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card watchOnDevice">
      <div class="card-container">
        <div class="card-text-container">
          <h1 class="card-text-title">Watch everywhere.</h1>
          <p class="card-text-subtitle">
            Stream unlimited movies and TV shows on your phone, tablet, laptop,
            and TV without paying more.
          </p>
        </div>
        <div class="card-animation-container">
          <img
            alt=""
            class="card-animation-img"
            src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png"
          />
          <div class="card-animation-video-container">
            <video
              class="card-animation-video"
              autoplay=""
              playsinline=""
              muted=""
              loop=""
            >
              <source
                src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices.m4v"
                type="video/mp4"
              />
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
